.modal {
    background-color: #fff;
    filter: drop-shadow(5px 5px 8px #555);
    padding: 24px 18px;
    border-radius: 18px;
    
    width: 24rem;
    height: 24rem;
    margin: auto;

    font-family: Verdana, Geneva, sans-serif; 

    .client-brand {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 0px;
        text-align: center;
    }
    
    .fine-print {
        font-size: 8px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 3rem;
    }

    form {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 16px;
        overflow: hidden;
    
        label {
            grid-column: 1 / 2;
        }
        
        input, button {
            grid-column: 2 / 3;
        }
    }    
}



