body {
  background: linear-gradient(#66ff99, #33ccff);
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
  height: 100vh;

  .App {
    display: flex;
    align-items: center;
    height: 100vh;
  }
}




